useDynLib("svmpath")
importFrom(utils,head,tail,packageDescription)
export(svmpath,
summary.svmpath,radial.kernel,poly.kernel,print.svmpath,predict.svmpath,plot.svmpath,modulus,get.svmstep,enlist,coef.svmpath,UpdateKstar,Unbalanced.Initialization,StatPath,SolveKstar,SnapPath,PrintPath,OptInit.alpha,InitsvmPath,DowndateKstar,Balanced.Initialization)
importFrom("grDevices", "dev.off", "jpeg")
importFrom("graphics", "abline", "contour", "plot", "points", "text","title")
importFrom("stats", "approx", "predict")
S3method("print","svmpath")
S3method("plot","svmpath")
S3method("predict","svmpath")
S3method("coef","svmpath")
S3method("summary","svmpath")




